<div class="container">
  <h2 class="text-center mt-4 mb-4">People found</h2>
  <hr style="color: white;">
  <div id="people-card-container" class="row">
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="personInfoModal" tabindex="-1" aria-labelledby="personInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="personInfoModalLabel"></h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="personDetailedInfo" class="modal-body">
          <h5>Emails and Services</h5>
          <div id=personDetailedEmails>
            
          </div>  
          <hr>
          <h5>Usernames and Profiles<span data-bs-toggle="tooltip" data-bs-placement="top" title="Experimental feature. Some false positives can appear."><i class="bi bi-info-circle ms-2"></i></span></h5>


          <div id=personDetailedUsernames>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>