<div class="container">
  <h2 class="text-center mt-4 mb-4">Subdomains data</h2>
  <hr style="color: white;">
  <div id="subdomains-content">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
      <button id="exportSubdomainsTable" type="button" class="btn btn-warning btn-sm btn-outline-dark" style="color:white; background-color: #8a508e; display: none;" >Export to CSV</button>
    </div>
    <table id="subdomains-table-all" class="table table-light table-striped text-center rounded-3 overflow-hidden shadow">
      <thead id="subdomains-table-head">
      
      </thead>
      <tbody id="subdomains-table-body">
       
      </tbody>
    </table>
  </div>
</div>